.airlines_grid {
    display: flex;
    justify-content: space-around;
    margin: 50px 150px 150px 150px;

}

.header {
    text-align: center;
    margin-top: 50px;
}

.airline_card {
    width: 300px;
    margin: 20px;
}

.airline_details {
    text-align: center;
}

.logo {
    height: 100px;
    width: 100px;
}

.link{
    margin-top: 15px;
   
}